* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgb(205, 219, 228);
  background: linear-gradient(
    225deg,
    rgba(205, 219, 228, 1) 26%,
    rgba(110, 171, 206, 1) 64%
  );
}
a {
  text-decoration: none;
  color: black;
}
main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #7fb4d3;
  box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  margin: 10px;
}
.btn a {
  font-weight: 500;
  font-size: 20px;
}

.form-container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #e2eef5;
  transform: translate(-50%, -50%);
  padding: 40px;
  /*   text-align: center; */
}
input {
  width: 100%;
  padding: 10px 0;
}
.register-btn {
  padding: 20px;
  width: 20%;
  background-color: #61b0dc;
  margin: 20px auto;
}
select {
  padding: 10px;
}
.successful {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#color {
  width: 30% !important;
  height: 50px;
}
